{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Userprofil</h1>
    <h2>{{ user }}</h2>

    <ul>
        <li>registered: {{ user.registered }}</li>
    </ul>

    {% if user.about %}
    About:
    <div>
        {{ user.about|nl2br }}
    </div>
    {% endif %}

{% endblock %}
