{% extends "base.html.twig" %}

{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    {% if app.environment == 'offline' %}
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    {% else %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
    {% endif %}
    <link rel="stylesheet" href="/css/style.css">

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'offline' %}
        <script src="/js/bootstrap.min.js"></script>
    {% else %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <a href="{{ path('homepage') }}"><img src="/images/logo.jpg" alt="Logo" height="100"/></a>
            </div>

            <div class="col-xs-4 col-md-4">
                <form class="form-inline" action="{{ path('search') }}" method="get">
                    <div style="margin-top: 20px;">
                        <input class="form-control" placeholder="Search..." type="text" name="needle">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-md-8">
                <div id="content">
                    {% block content '' %}
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <div id="side">
                    {% block sidebar %}
                        some awesome sidebar content ....

                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


